.subscribe {
    background-color: #2B2B2B;
}

.row-color {
    background-color: #3B3B3B;
    border-radius: 30px;
}

.subs-image:hover {
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    box-shadow: rgba(202, 201, 201, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    transition: 1s;
    border-radius: 20px;
}

.subs-heading {
    font-size: 57px;
    text-transform: capitalize;
}

.subs-para {
    text-transform: capitalize;
    font-size: 29px;
}

.subscribe_buttons {
    background-color: #fff;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    cursor: text;
}

.subscribe_buttons:hover {
    box-shadow: rgba(233, 230, 230, 0.45) 0px 25px 20px -20px;
    transition: 0.5s;
}

.subscribe_buttons input {
    max-width: 150%;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 0px 20px;
}

.subscribe_buttons input:active {
    border: none;
    border-top: green;
}

input::placeholder {
    font-weight: 400;
    color: #2B2B2B;
}

@media screen and (min-width: 991px) and (max-width: 1400px) {

    .subs-heading {
        font-size: 40px;
    }

    .subs-para {
        font-size: 20px;
    }

    .subscribe_buttons {
        height: 13vh;
        flex-direction: column;
    }

    .subscribe_buttons input {
        padding-top: 10px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    .subs-heading {
        font-size: 50px;
    }

    .subs-para {
        font-size: 25px;
    }

}

@media screen and (max-width: 767px) {
    .subscribe_buttons {
        height: 13vh;
        flex-direction: column;
    }

    .subscribe_buttons input {
        padding-top: 10px;
    }
}

@media screen and (max-width: 536px) {

    .subs-heading {
        text-align: center;
        font-size: 45px;
    }

    .subs-para {
        text-align: center;
        font-size: 26px;
    }

}