.deal-card-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}

.deal-card-title {
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
}

.deal-card-description {
    color: rgba(97, 97, 97, 0.69);
    font-size: 13px;
}

.deal-card-color2 {
    color: #FFB800;
}

.deal-btn {
    border: none;
    outline: none;
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    color: #fff;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
}

.deal-img-div {
    width: 100%;
    margin-left: -12px;
}

.deal-img{
    border-radius: 10px;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .deal-card-title {
        font-size: 18px;
        line-height: 20px;
    }

    .deal-card-description {
        font-size: 8px;
    }

    .deal-btn {
        font-size: 10px;
    }
}

@media screen and (min-width:575px) and (max-width:767px) {
    .deal-card-title {
        font-size: 16px;
        line-height: 20px;
    }
    
    .deal-card-title-md{
        font-size: 13px;
        line-height: 15px;
    }

    .deal-card-description {
        font-size: 8px;
    }
    
    /* .deal-card-description-md{
        font-size: 7px;
    } */

    .deal-btn {
        font-size: 10px;
    }
}

@media screen and (max-width:575px) {
    .deal-card-title {
        font-size: 27px;
        line-height: 30px;
    }

    .deal-card-shadow {
        box-shadow: none;
    }

    .deal-card-display{
        display: none;
    }

}