.nav-logo i {
    font-size: 30px;
    color: #FFB30E;
}

.food {
    font-size: 25px;
    font-weight: bold;
    color: #F17228;
}

.wagon {
    font-weight: bold;
    font-size: 25px;
    color: #FFB30E;
}

.location-icon {
    color: #F58D00;
}

.location-title {
    display: inline;
}

.search {
    cursor: pointer;
}

.search-title {
    display: inline;
}


.search:hover {
    color: #F58D00;
    transition: 0.5s;
}

.search-icon {
    color: #F58D00;
    font-weight: bold;
}

.down-icon {
    color: #F58D00;
    font-weight: bold;
    font-size: 22px;
}

.nav-btn {
    outline: none;
    border: none;
    color: #F58D00;
    background-color: white;
    border-radius: 10px;
}

.nav-btn:hover {
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    transition: 0.5s;
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .location-title {
        display: block;
    }

    .search-title {
        display: none !important;
    }

}

@media screen and (max-width:991px) {
    .nav-logo i {
        font-size: 25px;
    }

    .food {
        font-size: 20px;
    }

    .wagon {
        font-size: 20px;
    }
}

@media screen and (max-width:513px) {
    .nav-logo i {
        font-size: 30px;
    }

    .food {
        font-size: 25px;
    }

    .wagon {
        font-size: 25px;
    }

    .location {
        font-size: 13px;
    }

    .location-title {
        display: block;
    }
}