.restaurants-main-img-div {
    overflow: hidden;
    transition: all ease 0.5s;
}

.restaurants-main-img {
    transition: all ease 0.5s;
}

.restaurants-main-img:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.restaurants-img-btn {
    position: absolute;
    top: 11%;
    left: 10%;
}

.restaurants-img-btn button {
    font-size: 12px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
}

.restaurants-off-btn {
    background-color: #F17228;
}

.restaurants-fast-btn {
    background-color: #FFB30E;
}







.featured-restaurants-sm-img {
    transition: all ease 0.5s;
    border-radius: 10px;
}

.featured-restaurants-sm-img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.restaurants-star-num {
    color: #FFB30E;
}

.restaurants-tomorrow-btn {
    background-color: rgba(241, 114, 40, 0.20);
    font-weight: bold;
    color: #F17228;
    font-size: 15px;
    transition: all ease 0.5s;
}

.restaurants-tomorrow-btn:hover {
    cursor: default;
    box-shadow: rgba(240, 112, 8, 0.4) 0px 0px 0px 2px, rgba(233, 109, 8, 0.65) 0px 4px 6px 3px, rgba(238, 118, 5, 0.08) 0px 1px 0px inset;
}

.restaurants-now-btn {
    background: rgba(121, 185, 60, 0.20);
    font-weight: bold;
    color: rgba(121, 185, 60, 1);
    font-size: 15px;
    transition: all ease 0.5s;
}

.restaurants-now-btn:hover {
    cursor: default;
    box-shadow: rgba(3, 145, 51, 0.671) 0px 0px 0px 2px, rgba(3, 116, 40, 0.705) 0px 4px 6px 3px, rgba(238, 118, 5, 0.08) 0px 1px 0px inset;
}

.restaurants-view-btn {
    border: none;
    outline: none;
    font-size: 13px;
    color: #fff;
    background: linear-gradient(141deg, #FFBA26 0%, #FF9A0E 100%);
    box-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);
    transition:all ease 0.5s;
}

.restaurants-view-btn:hover {
    box-shadow: rgba(240, 112, 8, 0.4) 0px 0px 0px 2px, rgba(233, 109, 8, 0.65) 0px 4px 6px 3px, rgba(238, 118, 5, 0.08) 0px 1px 0px inset;
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .restaurants-img-btn {
        top: 9%;
        left: 7%;
    }

    .restaurants-img-btn button {
        font-size: 10px;
    }
}

@media screen and (min-width: 350px) and (max-width:575px) {

    .restaurants-img-btn button {
        font-size: 20px;
    }
}