#heading{
  text-align: center;
  font-size: 40px;
}

#main {
  width: 100%;
  text-align: center;
  margin: 10% 0%;
}

#main>button {
  margin: 10px 2%;
}

button {
  width: 15%;
  font-size: 30px;
  background-color: blueviolet;
  border: 2px solid blueviolet;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  box-shadow: yellow;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  border: 2px solid rgb(31, 15, 48);
  background-color: rgb(31, 15, 48);
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.count{
  font-size: 30px;
  font-weight: bold;
  color: gray;
}

button.reset {
  background-color: brown;
  border: 2px solid brown;
}

button.reset:hover {
  background-color: rgb(85, 28, 28);
  border: 2px solid rgb(85, 28, 28);
}