.hero_right_side {
    max-height: 150vh;
    background-color: #3B3B3B;
    border-radius: 5%;
}

.hero_right_side:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: 1s;
}

.discover_price {
    display: flex;
    justify-content: space-between;
}

.price {
    color: #858584;
    letter-spacing: 2px;
}