.hero_right_side {
    max-height: 150vh;
    background-color: #3B3B3B;
    border-radius: 5%;
}

.discover_price {
    display: flex;
    justify-content: space-between;
}

.price {
    color: #858584;
    letter-spacing: 2px;
}