#hero_Section {
    background-color: #2B2B2B;
    max-height: 190vh;
}

.section_title {
    font-size: 77px;
    line-height: 80px;
    text-shadow: 2px 2px 5px #A259FF;
    text-transform: capitalize;
}

.section_description {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: justify;
    text-transform: capitalize;
}


@media screen and (max-width: 991px) {
    .section_title {
        font-size: 55px;
        line-height: 60px;
    }

    .section_description {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 767px) {
    .section_title {
        font-size: 70px;
        line-height: 75px;
        /* text-align: justify; */
    }

    .section_description {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0px;
    }

}

@media screen and (max-width: 450px) {
    .section_title {
        font-size: 55px;
        line-height: 65px;
    }

    .section_description {
        font-size: 18px;
        line-height: 22px;
    }
}