.section_points {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.section_points>span>h5 {
    font-size: 30px;
    letter-spacing: 1px;
}

.section_points>span>h6 {
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
}

@media screen and (max-width: 991px) {
    .section_points>span>h5 {
        font-size: 25px;
        letter-spacing: 0px;
    }

    .section_points>span>h6 {
        font-size: 20px;
        line-height: 10px;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 767px) {
    .section_points>span>h5 {
        font-size: 25px;
        letter-spacing: 0px;
    }

    .section_points>span>h6 {
        font-size: 20px;
        line-height: 10px;
        letter-spacing: 0px;
    }
}