#navigation{
    height: 10vh;
    background-color: #2B2B2B;
}

.logo{
    color: #A259FF;
    font-size: 35px;
}

.logo:hover{
    color: #b9b7bd;
    align-items: ;
}

.navigation_menus>ul{
    display: flex;
    justify-content: end;
    justify-content: space-between;
}

.navigation_menus>ul>li>{

}