.proceed-order {
    background-image: url("/src/assets/images/orderBack.png");
    max-height: 40vh;
    background-size: 100%;
    background-repeat: no-repeat;
}

.best-deal>h5 {
    font-size: 30px;
    font-weight: 900;
}

.buton-proceed {
    width: 15%;
    border: none;
    background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
    /* Button shadow ! */
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    padding: 10px 5px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}