
.footerHeadSize{
    font-size: 27px;
    margin-top: 10px;
    text-transform: capitalize;
    color: #fff;
}

.footerSize{
    font-size: 23px;
    color: #CCCCCC;
    text-transform: capitalize;
}

.subs-heading {
    font-size: 57px;
    text-transform: capitalize;
    color: #fff;
}

.subs-para {
    color: #CCCCCC;
    text-transform: capitalize;
    font-size: 29px;
}

.subscribe_buttons {
    background-color: #fff;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    cursor: text;
}

.subscribe_buttons:hover {
    box-shadow: rgba(233, 230, 230, 0.45) 0px 25px 20px -20px;
    transition: 0.5s;
}

.subscribe_buttons input {
    max-width: 150%;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 0px 20px;
}

.subscribe_buttons input:active {
    border: none;
    border-top: green;
}

input::placeholder {
    font-weight: 400;
    color: #2B2B2B;
}

@media screen and (min-width: 991px) and (max-width: 1400px) {

    .subs-heading {
        font-size: 40px;
    }

    .subs-para {
        font-size: 20px;
    }

    .subscribe_buttons {
        height: 13vh;
        flex-direction: column;
    }

    .subscribe_buttons input {
        padding-top: 10px;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    .subs-heading {
        font-size: 50px;
    }

    .subs-para {
        font-size: 25px;
    }

}

@media screen and (max-width: 767px) {
    .subscribe_buttons {
        height: 13vh;
        flex-direction: column;
    }

    .subscribe_buttons input {
        padding-top: 10px;
    }
}

@media screen and (max-width: 536px) {

    .subs-heading {
        text-align: center;
        font-size: 45px;
    }

    .subs-para {
        text-align: center;
        font-size: 26px;
    }

}