/* 
@media screen and (max-width: 768px) {
    .setBtn{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 40%;
    }

}

@media screen and (min-width: 1177) {
    .twoBtn{
    display: block;
    }
    
} */
