/* ================================== Header ==================================  */
.navbar {
    background: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

.nordic {
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.nordic:hover {
    color: blueviolet;
    cursor: pointer;
    transition: 0.5s;
}

.nav-lis ul {
    display: flex;
    margin-top: 10px;
}

.nav-lis ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px 30px 0px 30px;
}

.nav-lis ul li:hover {
    color: blueviolet;
    cursor: pointer;
    text-decoration: underline;
    transition: all ease 1s;
}

/* .nav-lis ul :first-child {
    border-bottom: 2px black solid;

} */

@media screen and (max-width: 992px) {

    .nav-lis ul {
        flex-direction: column;
        margin-top: 0px;
    }

    .nav-lis ul li {

        margin: 10px 150px 10px 150px;
    }

}

@media screen and (max-width: 767px) {

    .nordic {
        font-size: 18px;
    }

    .nav-lis ul {
        flex-direction: column;
        margin-top: 0px;
    }

    .nav-lis ul li {

        margin: 10px 110px 10px 110px;
    }

}

@media screen and (max-width: 425px) {

    .nordic {
        margin-left: 2px;
    }

    .nav-lis ul li {

        margin: 10px 50px 10px 50px;
    }

}

@media screen and (max-width: 280px) {

    .nordic {
        margin-left: 2px;
        font-size: 18px;
        letter-spacing: 2px;
    }

}



/* ================================== Header ==================================  */
/* .nav {
    height: 60px;
    line-height: 60px;
    background: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
}

.nordic {
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.menu-icon {
    display: none;
}

.nordic:hover {
    color: blueviolet;
    cursor: pointer;
    transition: 0.5s;
}

.nav-lis ul {
    display: flex;
    justify-content: space-around;
}

.nav-lis ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
}

.nav-lis ul li:hover {
    color: blueviolet;
    cursor: pointer;
    transition: 0.5s;
}

.nav-lis ul :first-child {
    border-bottom: 2px black solid;
}

@media screen and (max-width: 768px) {
    .nordic {
        font-size: 18px;
    }

    .nav-lis ul {
        display: none;
    }

    .menu-icon {
        display: inline;
        font-size: 25px;
        position: absolute;
        left: 90%;
        top: 30%;
        cursor: pointer;
    }

    .menu-icon:hover {
        color: blueviolet;
        transition: 0.5s;
    }
}

@media screen and (max-width: 425px) {
    .nav-lis ul {
        display: none;
    }

    .nordic {
        margin-left: 2px;
    }

}

@media screen and (max-width: 280px) {
    .nordic {
        margin-left: 2px;
        font-size: 18px;
        letter-spacing: 2px;
    }

    .menu-icon {
        left: 85%;
    }

} */