
.button {
    background-color: #A259FF;
    border: 2px solid #A259FF;
    border-radius: 10px;
    color: #fff;
}

.btn-padding-Sm {
    padding: 5px 10px;
}

.btn-hover:hover{
    background-color: #2a1d3b;
    transition: 0.5s;
}

.btn-padding-lg{
    padding: 12px 60px;
}

.btn-fontSize-lg{
    font-size: 18px;
    font-weight: 500;
}



.icon-mar-sm{
    margin-right: 5px;
}

.icon-size-lg{
    font-size: 25px;
}

.icon-mar-lg{
    margin-right: 10px;
}

.icon-color{
    color: #fff;
}

.btn-color-section{
    background-color: #2a1d3b;
}

.btn-hover-section:hover{
    background-color: #A259FF;
    transition: 0.5s;
}