.contact-title {
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.contact-title:hover{
    color: orangered;
    transition: 0.5s;
}

.form-inputs {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.contact-btn {
    color: white;
    font-weight: 600;
    outline: none;
    border: none;
    text-transform: uppercase;
}

.contact-btn-color {
    background-color: orangered;
    align-items: center;
}

.contact-btn-color:hover {
    background-color: black;
    transition: 0.5s;
}

.img-direction {
    max-width: 50%;
}

@media screen and (max-width: 768px) {
    .img-direction {
        transform: rotate(-90deg);
        margin-top: -15% !important;
    }
}