body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.fresh{
    width: 100%;
}

.grapes{
    width: 50%;
}

.contact-right-p{
    padding-left: 9%;
}

.social-links{
    width: 15%;
    cursor: pointer;
}

.footer{
    background-color: #F7F7F7;
    /* height: 10vh; */
}

