.browse {
    background-color: #2B2B2B;
}

.browse_back {
    max-height: 100vh;
    border-radius: 30px;
    background-color: #3B3B3B;
}

.browse-img {
    background-image: url("../../assets//images/browse_categories/Image\ Placeholder1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 50vh;
}

/* .browse-img:hover {
    filter: blur(5px);
    transition: 2s;
} */


.browse-icons-card {
    display: flex;
    justify-content: center;
}

.browse-icons-card>img {
    width: 50%;
}